<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b><%=__('views.version')%></b> 1.0.0
    </div>
    <strong><%=__('views.copyright')%> &copy; 2015 <a href="#">ION</a></strong>
</footer>